.search-form-wrapper {
  display:flex;
  align-items: center;
  height: 100%;
  position: relative;
  margin-left: 10px;
}

.search-form {
  color: rgba(0,0,0,0.87);
  height: calc( 2rem + 2px );
  display: inline-block;
  line-height: 200%;
  width: 15em;
  padding-left: 28px;
  background: white;
  border-radius: 5px;
  position: relative;
  border: 1px solid color( "blue", "base" );

  * {
    display: inline;
    br { display: none; }
  }

  &:focus {
    outline: none;
    border: 1px solid #4a148c;
  }

  &::before {
  content: 'search';
  @extend .blue-text;
  font-size:22px;
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  position: absolute;
  left:3px;
  top: 1px;
  }

  &.mobile {
    margin-top: 1rem;
    margin-left: 32px;
    border-color: color( "grey", "base" );
    &:focus {
      outline: none;
      border-color: color( "blue", "base" );
      &::before {
        @extend .blue-text;
      }
    }
    &::before {
      @extend .grey-text;
    }
  }
}
