<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NAudio" version="2.0.1" />
  <package id="NAudio.Asio" version="2.0.0" />
  <package id="NAudio.Core" version="2.0.0" />
  <package id="NAudio.Midi" version="2.0.1" />
  <package id="NAudio.Wasapi" version="2.0.0" />
  <package id="NAudio.WinForms" version="2.0.1" />
  <package id="NAudio.WinMM" version="2.0.1" />
</packages>