@charset "utf-8";
@import "materialize/materialize";

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}

h1 { 
    font-size: 36px;
}

h3 { 
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

.doc-sec1 {
    margin-top: 60px;
    margin-bottom: 30px;    
}

.doc-sec2 {
    margin-top: 60px;
    margin-bottom: 30px;
}

.doc-ul ul {
    margin: 8px 0px;
    padding-inline-start: 20px;
    li { 
        margin: 8px 0px;
        list-style-type: disc;        
    }
}

.toc-header {
    margin: 10px;
}

.toc-area { 
    background-color: #F4F4F4;
    border: 1px solid #B0B0B0;
    padding: 10px 20px;
    margin: 20px 0px;
    display: table;
}

.note-area { 
    background-color: #F4F4F4;
    padding: 10px 20px;
    display: table;

    strong { 
        font-weight: 600;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: large;
    }
    
    p {
        margin-block-start: 0em;
        margin-block-end: 1em;
    }
}

code {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    background: #ddd;    
    color: #222;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 2px;
}

.carousel .indicators {
    background: rgba(0, 0, 0, 0.2);
}

img.home-gallery {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.doc-img {
    @extend .z-depth-2;
    max-width: 75%;
    margin-bottom: 1em;
} 

.fit-doc-img {
    @extend .z-depth-2;
    max-width: 100%;
    margin-bottom: 1em;
}

.doc-a {
    margin: 24px;
}

.video-from-youtube {
    width: 50vw;
    height: calc(50vw * 0.5);
    margin: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
h1.page-title {
    font-weight: 500;
    font-size: 2.3em;
    text-align: center;
    color: #29b6f6;
}
.col.grid-example {
    border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    background-color: tomato;
    color: white;
    padding: 0;
}
.collection .collection-item.avatar {
    padding-right: 30px;
}
.last-post {
    padding: 10px 0 15px;
}
.last-post .collection .collection-item.avatar>.date-post {
    position: absolute;
    width: 54px;
    height: 54px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    padding: 16px 0;
    vertical-align: middle;
    background: #ad1457;
    color: #fff;
    text-align: center;
}
.txt-center {
    text-align: center;
}
.post-header h1.post-title {
    color: #29b6f6;
    font-size: 2.8em;
    font-weight: 800;
}
.post-header time {
    color: #cacaca;
    font-size: 0.9em;
}
p.rss-subscribe {
    margin: 0;
}